body {
    background-color: rgba(254,220,0,255);
    font-family: 'Koh Santepheap', cursive;
}

button {
    border: none;
    color: white;
    background-color: rgba(36,66,136,255);
    font-size: 16px;
    margin: 8px 0 8px 0;
    padding: 0 40px 0 40px;
    font-weight: bold;
    font-family: 'Koh Santepheap', cursive;
}

button:hover {
    color: rgba(254,220,0,255);
}

header {
    display: flex;
    justify-content: center;
    background-color: rgba(36,66,136,255);
    position: absolute;
    left: 0;
    right: 0;
    top: 0
}

#content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

h1 {
    color:rgba(207,16,39,255);
}

p {
    color: rgba(36,66,136,255);
    background-color: white;
    padding: 20px 20px 20px 20px;
    text-align: center;
}